        /* Navbar style */

.bullet{
    list-style-type: none;
    background-color: rgb(0, 0, 156);
    overflow: hidden;
    display: block;
    font-size: larger;
    font-family: 'Russo One', sans-serif;

}

.fa{
    color: rgb(238, 255, 0);
}

.catgory a{
    text-decoration: none;
    color: white;
    float: left;
    padding: 15px 25px;
    display: block;
}

.catgory a:hover{
    background-color: red;
    color: white;
}


.heading{
    color: red;
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

#warning{
    text-align: center;
    color: red;

}

            /*    About        */ 


#about:hover{
    background-color: yellow;
    color: blue;
    text-shadow: none;
    border: 3px solid red;
    padding: 5px;
}

.slogan:hover{
    background-color: yellow;
    color: blue;
    font-size: larger;  
}

.who{
    text-align: center;
    width: 50%;
    background-color: rgb(18, 0, 175);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 24%;
    padding: 20px;
    border: 15px solid red;
    border-radius: 0px 50px 0px 50px ;
}

.who:hover{
    background-color: rgb(0, 13, 88);
    border: 15px solid blue;
    border-radius: 50px 0px 50px 0px;


}
.saiz{
    font-size: 250%;
    text-shadow: 2px 5px black;
    font-family: 'Russo One', sans-serif;
}
.slogan{
    color: yellow;
}

.hot{
    background-color: red; 
    color: white;
    text-align: center;
    width: 10%;
}
.news{
    background-color: rgb(143, 238, 255);
}

             /* About */

.hot{
    background-color: red; 
    color: white;
    text-align: center;
    width: 10%;
}
.news{
    background-color: rgb(143, 238, 255);
}

.logo{
    margin-bottom: 0%;
    text-align: center;
    font-size: 200%;
    text-shadow: 2px white;
}

#bodi{
    background-color: rgb(177, 250, 255);

}

      /*   Footer     */


#futar{
    background-color :white;
    text-align: center;
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

#futar:hover{
    background-color: red;
    color: white;
}

#futar a:hover{
    color: yellow;
}

#futar a{
    text-decoration: none;
    float: none;

}

.kontakt{
    background-color: rgb(2, 0, 37);
    text-align: center;
    width: 45%;
    float: left;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 10px;
    border-color: yellow;
    border-radius: 20px;
    height: 400px;
}

.kontakt input:focus{
    background-color: yellow;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.kontakt textarea:focus{
    background-color: yellow;
    width: 70%;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.map{
    text-align: center;
}

.kalar{
    color: yellow;
    font-size: 200%;
}

.kalar:hover{
    background-color: yellow;
    color: black;
}

#social a{
    text-decoration: none;
    color: white;
    font-size: x-large;

}